@{
    ViewBag.Title = "NewPage";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    This is the new page. Thanks for coming to check it out. I hope you've enjoyed it. Take it easy and come back anytime you'd like!
</p>